//  Carbonfox Color Palette

// Blue
$blue-light: #2a3a52;
$blue-dark: #5a6a87;

// Cyan
$cyan-light: #2a525a;
$cyan-dark: #5a8a8f;

// Green
$green-light: #2f4a3e;
$green-dark: #5a7a67;

// Orange
$orange-light: #7a452a;
$orange-dark: #bf7a5a;

// Pink
$pink-light: #7a3a5a;
$pink-dark: #bf7290;

// Purple
$purple-light: #4a2a5a;
$purple-dark: #7a5a87;

// Red
$red-light: #7a2f3b;
$red-dark: #b35a67;

// Teal
$teal-light: #2a4a3f;
$teal-dark: #5a8a72;

// Yellow
$yellow-light: #7a673f;
$yellow-dark: #bfa860;

// Grey
$grey-050: #ebebeb;
$grey-100: #e0e0e0;
$grey-150: #d6d6d6;
$grey-200: #cccccc;
$grey-250: #b8b8b8;
$grey-300: #adadad;
$grey-350: #999999;
$grey-400: #858585;
$grey-450: #707070;
$grey-500: #666666;
$grey-550: #5c5c5c;
$grey-600: #525252;
$grey-650: #474747;
$grey-700: #3d3d3d;
$grey-750: #353535;
$grey-800: #282828;
$grey-850: #161616;
$grey-900: #141414;
$grey-950: #0c0c0c;

// White
$white: #f6f2ee;

// Black
$black: #161616;

// Theme
$default-light: $blue-light;
$default-dark: $blue-dark;

// Button
$button-close: if($topbar == 'light', #7a2f3b, #b35a67);
$button-max: if($topbar == 'light', #2f4a3e, #5a7a67);
$button-min: if($topbar == 'light', #7a452a, #bf7a5a);
