// Nordfox Theme Color Palette

// Blue
$blue-light: #2848a9;
$blue-dark: #8cafd2;

// Cyan
$cyan-light: #50848c;
$cyan-dark: #93ccdc;

// Green
$green-light: #396847;
$green-dark: #a3be8c;

// Orange
$orange-light: #955f61;
$orange-dark: #d89079;

// Pink
$pink-light: #a440b5;
$pink-dark: #d092ce;

// Purple
$purple-light: #6e33ce;
$purple-dark: #c895bf;

// Red
$red-light: #a5222f;
$red-dark: #d06f79;

// Teal
$teal-light: #287980;
$teal-dark: #88c0d0;

// Yellow
$yellow-light: #ac5402;
$yellow-dark: #f0d399;

// Grey
$grey-050: #dcdfe5;
$grey-100: #d0d4dd;
$grey-150: #c4c9d4;
$grey-200: #b8bfcc;
$grey-250: #acb4c3;
$grey-300: #a0a9ba;
$grey-350: #959eb2;
$grey-400: #8994a9;
$grey-450: #717e98;
$grey-500: #67748e;
$grey-550: #5e6a82;
$grey-600: #4f6074;
$grey-650: #4d576a;
$grey-700: #3e4a5b;
$grey-750: #3b4252;
$grey-800: #2e3440;
$grey-850: #22272f;
$grey-900: #111318;
$grey-950: #090a0c;

// White
$white: #f6f2ee;

// Black
$black: #2e3440;

// Theme
$default-light: $blue-light;
$default-dark: $blue-dark;

// Button
$button-close: if($topbar == 'light', #a5222f, #d06f79);
$button-max: if($topbar == 'light', #396847, #a3be8c);
$button-min: if($topbar == 'light', #ac5402, #f0d399);
