// Nightfox/Dayfox Theme Color Palette

// Blue
$blue-light: #2848a9;
$blue-dark: #719cd6;

// Cyan
$cyan-light: #50848c;
$cyan-dark: #a6dae3;

// Green
$green-light: #396847;
$green-dark: #81b29a;

// Orange
$orange-light: #955f61;
$orange-dark: #f4a261;

// Pink
$pink-light: #a440b5;
$pink-dark: #d67ad2;

// Purple
$purple-light: #6e33ce;
$purple-dark: #9d79d6;

// Red
$red-light: #a5222f;
$red-dark: #c94f6d;

// Teal
$teal-light: #287980;
$teal-dark: #63cdcf;

// Yellow
$yellow-light: #ac5402;
$yellow-dark: #dbc074;

// Grey
$grey-050: #faf4ed;
$grey-100: #f2e9e1;
$grey-150: #ebe5df;
$grey-200: #e4dcd4;
$grey-250: #d3c7bb;
$grey-300: #e7d2be;
$grey-350: #837a72;
$grey-400: #aab0ad;
$grey-450: #738091;
$grey-500: #71839b;
$grey-550: #3c5372;
$grey-600: #39506d;
$grey-650: #2b3b51;
$grey-700: #29394f;
$grey-750: #212e3f;
$grey-800: #1c2735;
$grey-850: #131a24;
$grey-900: #0e131b;
$grey-950: #070a0d;

// White
$white: #f6f2ee;

// Black
$black: #192330;

// Theme
$default-light: $blue-light;
$default-dark: $blue-dark;

// Button
$button-close: if($topbar == 'light', #a5222f, #c94f6d);
$button-max: if($topbar == 'light', #396847, #81b29a);
$button-min: if($topbar == 'light', #ac5402, #dbc074);
