//  Carbonfox Color Palette

// Blue
$blue-light: #2848a9;
$blue-dark: #78a9ff;

// Cyan
$cyan-light: #50848c;
$cyan-dark: #3ddbd9;

// Green
$green-light: #396847;
$green-dark: #25be6a;

// Orange
$orange-light: #955f61;
$orange-dark: #dd9024;

// Pink
$pink-light: #a440b5;
$pink-dark: #ff7eb6;

// Purple
$purple-light: #6e33ce;
$purple-dark: #be95ff;

// Red
$red-light: #a5222f;
$red-dark: #ee5396;

// Teal
$teal-light: #287980;
$teal-dark: #08bdba;

// Yellow
$yellow-light: #ac5402;
$yellow-dark: #eea846;

// Grey
$grey-050: #ebebeb;
$grey-100: #e0e0e0;
$grey-150: #d6d6d6;
$grey-200: #cccccc;
$grey-250: #b8b8b8;
$grey-300: #adadad;
$grey-350: #999999;
$grey-400: #858585;
$grey-450: #707070;
$grey-500: #666666;
$grey-550: #5c5c5c;
$grey-600: #525252;
$grey-650: #474747;
$grey-700: #3d3d3d;
$grey-750: #353535;
$grey-800: #282828;
$grey-850: #161616;
$grey-900: #141414;
$grey-950: #0c0c0c;

// White
$white: #f6f2ee;

// Black
$black: #161616;

// Theme
$default-light: $teal-light;
$default-dark: $teal-dark;

// Button
$button-close: if($topbar == 'light', #a5222f, #ee5396);
$button-max: if($topbar == 'light', #396847, #25be6a);
$button-min: if($topbar == 'light', #ac5402, #eea846);
